
.filter-white {
  filter: brightness(0) invert(1);
}

.filter-black {
  filter: brightness(0) saturate(100%);
}

.filter-green {
  filter: brightness(0) saturate(100%) invert(67%) sepia(77%) saturate(462%) hue-rotate(86deg) brightness(87%) contrast(87%);
}

.filter-grey {
  filter: brightness(0) saturate(100%) invert(74%) sepia(11%) saturate(483%) hue-rotate(174deg) brightness(86%) contrast(81%);
}

.filter-dark-grey {
  filter: brightness(0) saturate(100%);
}

.filter-blue {
  filter: brightness(0) saturate(100%) invert(27%) sepia(85%) saturate(1619%) hue-rotate(203deg) brightness(96%) contrast(90%); /* 0924serp */
}
