
// theme
@require '~assets/style/imports/theme/colors.import.styl'
@require '~assets/style/imports/theme/shadows.import.styl'
@require '~assets/style/imports/theme/transitions.import.styl'

// space
@require '~assets/style/imports/space/margins.import.styl'
@require '~assets/style/imports/space/common.import.styl'

// fonts
@require '~assets/style/imports/fonts/common.import.styl'
@require 'fonts/common.import.styl'
@require 'fonts/ProximaNova.import.styl'
@require 'fonts/KGSecondChances.import.styl'

// transitions
@require 'transitions/common.import.styl'

// common
@require 'common.import.styl'
@require 'icons.import.styl'
@require 'filters.import.styl'

// third-parties
@require 'libraries/animate.import.styl'
@require 'libraries/aos.import.styl'


//paginate
@require '~assets/style/external/paginate.import.styl'
