{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "babel-plugin-root-import",
      {
        "rootPathPrefix": "@/"
      }
    ],
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ]
}
