
THEME_COLOR_PRIMARY = #fed530
THEME_COLOR_PRIMARY_2 = #f0c92d
THEME_COLOR_PRIMARY_DARKER = #d3b025
THEME_COLOR_SECONDARY = #525252

THEME_COLOR_FOREGROUND = #F8F8F9
THEME_COLOR_LIGHT = #F8F8F9
THEME_COLOR_LIGHT_2 = #F1F1F5
THEME_COLOR_LIGHT_BACKGROUND = #F8F8F9
THEME_COLOR_BACKGROUND = #181818
THEME_COLOR_DARK_BACKGROUND = #16161A


THEME_COLOR_LINK = #1E65CF /* 0923serp */
THEME_COLOR_LINK_BLACK = #16161A
THEME_COLOR_DARK_GREY = #16161A //215 14 16
THEME_COLOR_DARK_GREY_2 = #242629
THEME_COLOR_DARK_GREY_3 = #2E3238
THEME_COLOR_DARK_GREY_4 = #58585C
THEME_COLOR_DARK_GREY_5 = #7A8493

THEME_COLOR_LESS_DARK_GREY = #5C5C5F //215 14 16
THEME_COLOR_LESSER_DARK_GREY = #A2A2A3 //213 17 70 //A2A2A3
THEME_COLOR_GREY = #d4d4d4 //213 17 70 //A2A2A3
THEME_COLOR_GREY_2 = #CBCBD3 //213 17 70 //A2A2A3



