
MARGIN_TINY = 5px
MARGIN_VERY_SMALL = 10px
MARGIN_SMALLER = 15px
MARGIN_SMALL_LESS = 20px
MARGIN_SMALL = 25px
MARGIN_MEDIUM_LESS = 35px
MARGIN_MEDIUM = 50px
MARGIN_LARGE = 75px
MARGIN_LARGER = 100px
MARGIN_HUGE = 150px
MARGIN_HUGER = 200px
MARGIN_KOLOSSAL = 250px
