
.rounded {
  clip-path: ellipse(175% 50% at 50% 50%);
}
.rounded-up {
  clip-path: ellipse(175% 100% at 50% 100%);
}
.rounded-up-steep {
  clip-path: ellipse(100% 100% at 50% 100%);
}
.rounded-down {
  clip-path: ellipse(175% 100% at 50% 0%);
}

.isPhone{
  .rounded {
    clip-path: ellipse(700% 50% at 50% 50%);
  }
  .rounded-up {
    clip-path: ellipse(700% 100% at 50% 100%);
  }
  .rounded-up-steep {
    clip-path: ellipse(400% 100% at 50% 100%);
  }
  .rounded-down {
    clip-path: ellipse(700% 100% at 50% 0%);
  }
}
