@font-face {
    font-family "KGSecondChances"
    src url('/fonts/KGSecondChancesSolid.ttf')
    font-weight FONT_WEIGHT_BOLD
    font-style FONT_STYLE_NORMAL
}

@font-face
{
    font-family "KGSecondChances"
    src url('/fonts/KGSecondChancesSketch.ttf')
    font-weight FONT_WEIGHT_BLACK
    font-style FONT_STYLE_NORMAL
}