
FONT_WEIGHT_THIN = 100;
FONT_WEIGHT_EXTRALIGHT = 200;
FONT_WEIGHT_LIGHT = 300;
FONT_WEIGHT_REGULAR = 400;
FONT_WEIGHT_NORMAL = 500;
FONT_WEIGHT_SEMIBOLD = 600;
FONT_WEIGHT_BOLD = 700;
FONT_WEIGHT_EXTRABOLD = 800;
FONT_WEIGHT_BLACK = 1000;

FONT_STYLE_NORMAL = normal
FONT_STYLE_ITALIC = italic

FONT_SIZE_TINY = 10px;
FONT_SIZE_VERY_SMALL = 12px;
FONT_SIZE_SMALLER = 14px;
FONT_SIZE_SMALL = 16px;
FONT_SIZE_MEDIUM = 18px;
FONT_SIZE_LARGE = 25px;
FONT_SIZE_LARGER = 48px;
FONT_SIZE_VERY_LARGE = 64px;
FONT_SIZE_HUGE = 96px;
FONT_SIZE_HUGER = 128px;
FONT_SIZE_VERY_HUGE = 160px;
FONT_SIZE_KOLOSSAL = 192px;

FONT_SIZE_10PX = 10px;
FONT_SIZE_12PX = 12px;
FONT_SIZE_14PX = 14px;
FONT_SIZE_15PX = 15px;
FONT_SIZE_16PX = 16px;
FONT_SIZE_18PX = 18px;
FONT_SIZE_20PX = 20px;
FONT_SIZE_21PX = 21px;
FONT_SIZE_22PX = 22px;
FONT_SIZE_25PX = 25px;
FONT_SIZE_30PX = 30px;
FONT_SIZE_36PX = 36px;
FONT_SIZE_40PX = 40px;
FONT_SIZE_64PX = 64px;
FONT_SIZE_96PX = 96px;

FONT_COLOR_LIGHT = #FFFFFE
FONT_COLOR_DARK = #242629
